// ==UserScript==
// @name         屏蔽内容农场（with 油猴脚本）X
// @namespace    https://greasyfork.org/scripts/442253-%E5%B1%8F%E8%94%BD%E5%86%85%E5%AE%B9%E5%86%9C%E5%9C%BA-with-%E6%B2%B9%E7%8C%B4%E8%84%9A%E6%9C%AC/code/%E5%B1%8F%E8%94%BD%E5%86%85%E5%AE%B9%E5%86%9C%E5%9C%BA%EF%BC%88with%20%E6%B2%B9%E7%8C%B4%E8%84%9A%E6%9C%AC%EF%BC%89.user.js
// @version      0.4.06.0
// @description  利用 JavaScript/CSS 屏蔽【谷歌/Bing国际】搜索结果中的「内容农场」内容，顺便在清除谷歌搜索结果中的Adsense广告，还你清爽的 Google/Bing 中文搜索体验！
// @author       limbopro
// @license MIT
// @match        https://www.google.com/search*
// @match        https://www.google.com.hk/search*
// @match        https://www.bing.com/search*
// @match        https://cn.bing.com/search*
// @match        https://www.bing.com/?FORM*
// @match        https://cn.bing.com/?FORM*
// @icon         https://www.google.com/s2/favicons?sz=64&domain=google.com.hk
// @run-at document-end
// @grant        none
// ==/UserScript==
 
/* 源码地址
// https://limbopro.com/Adguard/contentFarm/contentFarm.js 每日更新；供 Quantumult X / Surge 等代理软件调用；
// https://raw.githubusercontent.com/limbopro/Adblock4limbo/main/Adguard/contentFarm/contentFarm.js push 后更新至GitHub 方便查看历史更新内容
*/

/*
Written by limbopro
iOS 屏蔽内容农场：https://limbopro.com/archives/block-contentfarm.html
群组：https://t.me/Adblock4limbo
完整项目：https://github.com/limbopro/Adblock4limbo
